In [1]:
import pandas as pd
import cv2
import os
#importing necessary libraries

In [2]:
os.getcwd()
#checking current directory

'C:\\Users\\Khans\\Machine Learning\\ML - Project'

In [3]:
os.chdir(r'D:\train')
#changing current working directory

In [4]:
os.getcwd()

'D:\\train'

In [5]:
a=os.listdir()
#getting all the files in current working directory and assigning a variable to them now all files are assign to a variable a

In [ ]:
#making folders
for i in ['cats','dogs']:
    os.makedirs(r"D:\train"+i)

In [7]:
cat=[]                       #creating an empty list onto which all the cat files will be appended
dog=[]                       #creating an emty list to append all the dog files into it
for i in a:                  #accesing all the files in a using for loop
    if i.startswith("cat"):  
        cat.append(i)        #appending cat files into empty list 'cat'
    else:
        dog.append(i)       #appending dog files into empty list 'dog'

In [8]:
l1=[]
for y in cat:         #accesing all the cat files
    img=cv2.imread(y)            #reading files using cv2.imread
    l1.append(img.flatten())     #flatten all the cat files and appending them into empty list l1
df=pd.DataFrame({'arrays':l1,'labels':'cat'})  #craeting data frame that contains arrays and labels as cat

In [9]:
l2=[]             
for x in dog:       #accessing all the dog files
    imgg=cv2.imread(x)         #reading dog files using cv2.imread
    l2.append(imgg.flatten())    #faltten dog images and appending to them into empty list
df1=pd.DataFrame({'arrays':l2,'labels':'dog'})   #creating dataframe that contains arrays and dog as labels

In [11]:
df2=pd.concat([df,df1])       #concating cat and dog dataframe

In [12]:
df2.head()        #accesing first 5 rows

                                              arrays labels
0  [87, 164, 203, 87, 164, 203, 88, 165, 204, 90,...    cat
1  [40, 44, 39, 40, 44, 39, 43, 44, 40, 44, 45, 4...    cat
2  [39, 30, 26, 37, 28, 24, 32, 23, 19, 26, 17, 1...    cat
3  [220, 225, 224, 219, 224, 223, 219, 224, 223, ...    cat
4  [75, 112, 140, 75, 112, 140, 79, 116, 144, 81,...    cat

In [13]:
df2.tail()     #accessing last 5 rows

                                                  arrays labels
12495  [106, 143, 147, 106, 143, 147, 107, 144, 148, ...    dog
12496  [85, 114, 145, 94, 123, 154, 39, 69, 98, 22, 5...    dog
12497  [38, 41, 46, 48, 51, 56, 55, 58, 63, 53, 56, 6...    dog
12498  [251, 254, 252, 251, 254, 252, 253, 254, 252, ...    dog
12499  [228, 238, 245, 230, 240, 247, 232, 242, 249, ...    dog

 **convert each images into grayscale and resize each image into shape of (100,100)**

In [16]:
a=[]
for x in dog:                                  #accesing dog files
    imgg1=cv2.imread(x,0)                      
    resized=cv2.resize(imgg1,(100,100))        #resizing them 
    a.append(resized.flatten())            #faltten them
df3=pd.DataFrame({"arrays":a,"labels":'dog'}) #creating data frame out of these resized images

In [17]:
b=[]
for y in cat:             #accesing cat images
    imgg2=cv2.imread(y,0)              
    resized=cv2.resize(imgg2,(100,100)) #resizing them
    b.append(resized.flatten())            #faltten them
df4=pd.DataFrame({"arrays":b,"labels":'cat'})   #creating dataframe out of these resized images

In [18]:
df_resize=pd.concat([df3,df4])         #concating resized dataframe

In [19]:
df_resize

                                                  arrays labels
0      [119, 109, 152, 160, 160, 165, 130, 134, 136, ...    dog
1      [146, 120, 124, 132, 101, 105, 53, 96, 112, 78...    dog
2      [118, 109, 93, 98, 101, 123, 125, 116, 120, 12...    dog
3      [185, 184, 186, 183, 183, 181, 182, 183, 184, ...    dog
4      [16, 7, 7, 7, 23, 52, 63, 45, 77, 40, 82, 59, ...    dog
...                                                  ...    ...
12495  [24, 22, 21, 21, 21, 21, 19, 20, 20, 19, 19, 2...    cat
12496  [101, 96, 93, 92, 92, 92, 88, 98, 97, 99, 94, ...    cat
12497  [96, 98, 97, 97, 97, 107, 96, 94, 94, 100, 113...    cat
12498  [57, 53, 48, 107, 144, 152, 158, 158, 159, 161...    cat
12499  [112, 36, 33, 28, 30, 33, 37, 37, 28, 80, 117,...    cat

[25000 rows x 2 columns]